.Button {
  width: 500px;
  height: 60px;
  background-color: aquamarine;
}
.Stat {
  background-color: blue;
  font-size: 25px;
  text-align: center;
}
body {
  background-color: red;
}
.Button-secret {
  width: 2px;
  height: 2px;
  background-color: red;
}
